{% extends 'menu/base.html' %}

{% block tilte %}Password_form{% endblock %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="page-banner text-center">
                <h4 class="breadcrumb-title">password reset</h4>
                <div class="breadcrumb-two">
                    <nav>
                        <nav class="breadcrumb-trail breadcrumbs">
                            <ul class="breadcrumb-menu">
                                <li class="breadcrumb-trail">
                                    <a href=""><span>accueil</span></a>
                                </li>
                                <li class="trail-item">
                                    <span>password reset</span>
                                </li>
                            </ul>
                        </nav>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="account-area mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-login mb-50">
                    <h5 class="display-4">mot de pass oublier</h5>
                    <hr>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{field.errors}}
                        <label >{{field.label_tag}}</label>
                            <p>{{field}}</p>
                            {% endfor %}

                            <button type="submit" class="tp-in-btn w-100">send confirmation link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cta-area d-ldark-bg pt-55 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="cta-item cta-item-d mb-30">
                    <h5 class="cta-title">follow us</h5>
                    <p>tracking your social media</p>
                    <div class="cta-social">
                        <div class="social-icon">
                            <a href="" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="" class="youtube"><i class="fab fa-youtube"></i></a>
                            <a href="" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            <a href="" class="rss"><i class="fab fa-rss"></i></a>
                            <a href="" class="dribbble"><i class="fab fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="cta-item mb-30">
                    <h5 class="cta-title">noveau connextion</h5>
                    <p>join 60.000+ sucribe ang get a new discount coupon on very satuay</p>
                    <div class="subcribe_form">
                        <form action="#">
                            <input type="email" placeholder="entrer email">
                            <button>subcribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="cta-item mb-30">
                    <h5 class="cta-title">download</h5>
                    <p>dukamaket app is now avaible on app store & google play get it now</p>
                    <div class="cta-apps-store">
                        <a href=""><img src="" alt=""></a>
                        <a href=""><img src="" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}